@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body{
  background-image: url("test7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
font-family: 'Sacramento', cursive;
font-weight:bold; 
 font-size: 60px;
 color: white;
 position: relative;
 animation: mymove 5s infinite;
 margin: 40px;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 30%;}
}
 .Home {
   text-align: center;
   position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  /* background-color: white; */
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
 }
button{
  -webkit-appearance: none; 
  background: linear-gradient(to right,#a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  color: #fff;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 4rem;
  letter-spacing: .05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 15rem;
  margin: 5px;
}   
button:hover {
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}   

