@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');
h2{
  font-family: 'Raleway';
  font-size:20px;
}
.login {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@keyframes blink { 50% { 
  color: white;
}  }
/* h3{
 
 
} */
p{
  border: 3px solid #ee786e;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 450px;
  text-align:center ;
  font-family: 'Raleway';
  color: black;
  font-size:20px;
  background: linear-gradient(to right,#a2ccb6 0%,#fceeb5 100%,#ee786e 0%);
  animation: blink .55s step-end infinite alternate;
}

 