.secrets{
  background-image: url("Secrets.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
h7{
  font-size: 80px;
  position: absolute;
  top: 40%;
  right:10%;



}