.secrets{
  background-image: url("Secrets.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
@keyframes blink { 50% { 
  color: white;
}  }

h4{
  border: 3px solid #ee786e;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 450px;
  text-align:center ;
  font-family: 'Raleway';
  color: black;
  font-size:20px;
  background: linear-gradient(to right,#a2ccb6 0%,#fceeb5 100%,#ee786e 0%);
  animation: blink .55s step-end infinite alternate;
}